---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';

const { pageTitle, slug } = Astro.props;
const lang = Astro.currentLocale;
---
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="vG blog" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>vanGamo blog{pageTitle ? ' | ' + pageTitle : ''}</title>
    <meta
      property="og:site_name"
      content={`vanGamo blog${pageTitle ? ': ' + pageTitle : ''}`}
      lang={lang}
    />

    <meta name="robots" content="noindex">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:url" content={`https://fullstack.igarrido.es${slug}`} />
    <link rel="canonical" href={`https://fullstack.igarrido.es${slug}`} />

    <meta name="description" content="Listado de artículos" lang={lang} />
    <meta property="og:description" content="Listado de artículos" lang={lang} />
  </head>
  <body class="bg-background">
    <div class="flex flex-col min-h-screen">
      <Header lang={lang} slug={slug} />

      <main class="container py-8 flex-1">
        <div class="max-w-2xl mx-auto">
          <slot />
        </div>
      </main>

      <Footer />
    </div>
  </body>
</html>
